<panel [title]="title">
        <div class="form-group" style="margin-bottom:40px">
            <label for="inputFilterRestaurante">Nome do restaurante</label>
            <input type="text" class="form-control" id="inputFilterRestaurante" aria-describedby="Nome do restaurante" placeholder="">
        </div>
        <button type="button" class="btn btn-danger" [routerLink]="['/Gerenciar/Restaurante']"> <span class="glyphicon glyphicon-repeat flip-icon"></span> Cancelar</button>
        <button type="button" class="btn btn-success"> <span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
</panel>
