
.homeText {
    text-transform: uppercase;
    font-weight: bold;
    font-size: large;
    color: #787a7c;
}

.homeImg {
    width: 40%;
    border-radius: 5px;
    margin-bottom: 1%;
    -webkit-box-shadow: 1px 1px 31px 7px rgba(143,143,143,1);
    -moz-box-shadow: 1px 1px 31px 7px rgba(143,143,143,1);
    box-shadow: 1px 1px 31px 7px rgba(143,143,143,1);
}

.homeConteudo{
    margin-top:13%;
}