<panel [title]="title">
    <div class="form-group" style="margin-bottom:20px">
        <label for="inputFilterRestaurante">Restaurante</label>
        <select type="text" class="form-control" [(ngModel)]="idRestaurante" id="inputFilterRestaurante" aria-describedby="Restaurante" placeholder="">
            <option *ngFor="let rest of restaurantes" [ngValue]="rest.id">{{rest.nome}}</option>
        </select>
    </div>
    <div class="form-group" style="margin-bottom:20px">
        <label for="inputFilterPrato">Nome do prato</label>
        <input type="text" class="form-control" [(ngModel)]="nomePrato" id="inputFilterPrato" aria-describedby="Nome do prato" placeholder="">
    </div>
    <div class="form-group" style="margin-bottom:10%">
        <div class="col-sm-3" style="padding-left: 0px;">
            <label for="inputFilterPreco">Preco <small style="color:#696767">(R$)</small></label>
            <input type="number" min="0" max="" [(ngModel)]="precoPrato" class="form-control" id="inputFilterPreco" aria-describedby="Preço do prato" placeholder="">
        </div>
    </div>

    <button type="button" class="btn btn-danger" [routerLink]="['/Gerenciar/Prato']"> <span class="glyphicon glyphicon-repeat flip-icon"></span> Cancelar</button>
    <button type="button" class="btn btn-success" style="margin-left:20px" (click)="Salvar()"> <span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
</panel>
