<panel [title]="title">
    <div class="form-group" style="margin-bottom:40px">
        <label for="inputFilterRestaurante">Nome do prato</label>
        <input type="text" class="form-control" id="inputFilterprato" aria-describedby="Nome do prato" placeholder="">
    </div>
    <button type="button" class="btn btn-danger" [routerLink]="['/Gerenciar/Prato']"> <span class="glyphicon glyphicon-repeat flip-icon"></span> Cancelar</button>
    <button type="button" class="btn btn-success"> <span class="glyphicon glyphicon-floppy-disk"></span> Salvar</button>
</panel>
