<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/Home']">Gestao de Restaurantes</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Gerenciar/Restaurante']">
                        <span class="glyphicon glyphicon-cutlery"></span> Restaurantes
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/Gerenciar/Prato']">
                        <span class="glyphicon glyphicon-list-alt"></span> Pratos
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

